<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Thymeleaf Kadai</title>
</head>
<body>
    <h1 th:text="#{title}"></h1>
    <h2 th:text="#{input.title}"></h2>
        <p th:text="#{message}"></p>
        <p th:unless="${param.previous eq null}" th:text="'前回入力された値は「'+${param.previous[0]}+'」でした。'"></p>
        <form method="post" action="/out">
            <input type="text" name="val">
            <button>送信</button>
        </form>
</body>
</html>
